html {
  padding: 0;
  margin: 0;
  position: relative;
}

body {
  font: 18px "Montserrat", sans-serif;
  line-height: 1.8;
  color: grey;
}

@media(min-width:768px) {
  html, body {
    /* for jumbotron */
    
    height: 100%;
  }
}

#home{
  width: 100%;
}

#wrapper {
  padding-right: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-right: 250px;
}

#nav-side-wrapper {
  z-index: 1000;
  position: fixed;
  right: 250px;
  width: 0;
  height: 100%;
  margin-right: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #nav-side-wrapper {
  width: 250px;
}

#content-wrapper {
  width: 100%;
  position: absolute;
}

#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-left: -250px;
}

.nav-side {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-side li {
  line-height: 40px;
}

.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  letter-spacing: 2px;
  z-index: 9999;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
}

.navbar-nav li a {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #f876f6!important;
  letter-spacing: 4px;
  transform: translate(0, -2px);
  background: transparent !important;
}

.navbar-toggle {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media(min-width:768px) {
  #wrapper {
    padding-right: 250px;
  }
  #wrapper.toggled {
    padding-right: 0;
  }
  #nav-side-wrapper {
    width: 0;
  }
  #wrapper.toggled #nav-side-wrapper {
    width: 250px;
  }
  #content-wrapper {
    position: relative;
  }
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-left: 0;
  }
}

#cont {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

#titreQ{
  text-align: center;
}
.jumbotron {
  width: 100%;

  margin: 0;
  background-image: url("fond-bulles-savon_36860-237.jpg");
}

.jumbotron .container {
  padding: initial;
  color: black;
}

.jumbotron .container h1 {
  text-shadow: 1px 3px 8px rgba(0, 0, 0, 0.8);
}

.jumbotron .container h3 {
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.8);
}

.jumbotron .container p {
  margin-top: 30px;
}

.jumbotron .container .btn {
  margin: 15px 10px;
  -webkit-box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.4);
}

.vertical-centre {
  min-height: 100%;

  
  min-height: 100vh;

  
  display: flex;
  align-items: center;
}

section {
  position: relative;
}

section .container {
  padding-top: 60px;
  padding-bottom: 100px;
}


section#contact .container {
  padding-bottom: 30px;
}

section#contact .container > .row {
  padding-left: 10%;
  padding-right: 10%;
}

section#contact .glyphicon {
  color:#f876f6;
  padding-right: 8px;
}

h3{
  text-align: center;
}

.center{
  text-align: center;
}

h2 {
	font-size: 2.7em;
  font-weight: normal;
	color:#2187e7;
  text-shadow: 1px 1px 5px #000, 0 0 10px #2187e7, 0 0 20px #2187e7;
  background:#000;
	border-radius:2px;
	border: 1px solid #2187e7;  
  box-shadow: 0px 0px 50px -8px #2187e7;
}
h2.commerce {
  border: 1px solid #9ACD32;  
  box-shadow: 0px 0px 50px -8px #9ACD32;
  color: #9ACD32;
  text-shadow: 1px 1px 5px #000, 0 0 10px #9ACD32, 0 0 20px #9ACD32;
}

h2.logiciel {
  border: 1px solid #FF4500;  
  box-shadow: 0px 0px 50px -8px #FF4500;
  color: #FF4500;
  text-shadow: 1px 1px 5px #000, 0 0 10px #FF4500, 0 0 20px #FF4500;
}
 
.cont {
	width: 90%;
  padding:5%;
	margin: 0 auto; 
	overflow: hidden;
}


.col {
	width: 23%;
  margin: 0 5%;
  position: relative;
  float: left;
  font-size: 12px;
  line-height: 2em;
  padding: 5% 0;
} 
/*.col { width:101%; }*/
.col .skill { 
	list-style:none; 
	padding-top:30px;
}

.col  .skill .skil { 
	margin-bottom:70px; 
	background:#030303; 
	height:6px; 
	border-radius:3px; 
	border-left:1px solid #111; 
	border-top:1px solid #111; 
	border-right:1px solid #333; 
	border-bottom:1px solid #333;  
}

.col .skill .skil em { 
	position:relative; 
  font-style: normal;
  font-size: 14px;
  text-align: center;
  color:#111;
	top:-28px;
}

.blueline { 
	height: 3px; 
	margin: 2px 0; 
	background: #2187e7; 
	position: absolute;
	box-shadow: 0px 0px 10px 1px rgba(0,198,255,0.6);
}
.greenline { 
	height: 3px; 
	margin: 2px 0; 
	background: #9ACD32; 
	position: absolute;
	box-shadow: 0px 0px 10px 1px rgba(173, 255, 47,0.4);
}
.redline { 
	height: 3px; 
	margin: 2px 0; 
	background: #FF4500; 
	position: absolute;
	box-shadow: 0px 0px 10px 1px rgba(255, 69, 0,0.4);
}

.titre     { opacity:1;  animation:titre 5s ease-out; 
text-align: center;   }

/*langages*/
.html        { width:75%;  animation:html 2s ease-out;        }
.css         { width:75%;  animation:css 2s ease-out;        }
.php         { width:70%;  animation:php 2s ease-out;        }
.javascript  { width:50%;  animation:javascript 2s ease-out; }
.jquery      { width:30%;  animation:jquery 2s ease-out;     }

/*E-commerce*/
.wordpress   { width:80%;  animation:wordpress 2s ease-out;  }
.shopify  { width:60%;  animation:shopify 2s ease-out; }


/*Logiciel*/
.poweramc { width:60%;  animation:poweramc 2s ease-out;}
.illustrator { width:30%;  animation:illustrator 2s ease-out;}
.photoshop   { width:70%;  animation:photoshop 2s ease-out;  }



@keyframes titre     { 0% { opacity:0; } 100% { opacity:1; }  }

/*langages*/
@keyframes html        { 0% { width:0px; } 100% { width:75%; }  }
@keyframes css         { 0% { width:0px; } 100% { width:75%; }  }
@keyframes php         { 0% { width:0px; } 100% { width:70%; }  }
@keyframes javascript  { 0% { width:0px; } 100% { width:50%; }  }
@keyframes jquery      { 0% { width:0px; } 100% { width:30%; }  }

/*E-commerce*/
@keyframes wordpress   { 0% { width:0px; } 100% { width:80%; }  }
@keyframes shopify  { 0% { width:0px; } 100% { width:60%; }  }


/*logiciel*/
@keyframes poweramc { 0% { width:0px; } 100% { width:60%; }  }
@keyframes illustrator { 0% { width:0px; } 100% { width:30%; }  }
@keyframes photoshop   { 0% { width:0px; } 100% { width:70%; }  }


/*media queries*/
@media (max-width: 1200px){
  h2 {font-size:2.2em;}
}
@media (max-width: 980px){
  h2 {font-size:1.8em;}
}
@media (max-width: 767px){
  h2 {font-size:1.4em;}
}
@media (max-width: 580px){
  h2 {font-size:1.1em; padding:10px 0;}
}
@media (max-width: 480px){ 
  h2 {font-size:2.2em; padding: 10px 0 15px 0;}
  .col {width: 90%;}
}

#form-feedback {
  color:#f876f6;
  opacity: 0;
  margin: 5px;
  margin-right: 80px;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.bgd {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
}

@media(max-width: 768px) {
  .bgd {
    background-size: auto 130%;
  }
}


.row {
  padding-top: 20px;
}

.btn {
  margin: 5px 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-lg i {
  padding-right: 8px;
}

.btn-success {
  background-color: #f876f6!important;
}

.btn-success:hover {
  background-color: #f876f6 !important;
}

.btn-success.disabled {
  background-color: #85eed9 !important;
}

a {
  color: #f876f6;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover {
  color: #f876f6;
  text-decoration: none;
  transform: translate(0, -2px);
}

a.top {
  display: block;
  padding: 10px;
}

a.top:hover {
  letter-spacing: 2px;
  transform: translate(0, -20px);
}

.thumbnail {
  padding: 0 0 15px 0;
  margin: 15px;
  -webkit-box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.5);
}

.thumbnail img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

footer {
  padding-bottom: 20px !important;
  background: white;
}







.hover-switch > img {
  position: absolute;
  width: 250px;
 margin-top: -45px;

}
/* 
 * Show the last image by default
*/
.hover-switch > img:last-of-type {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}
/* 
 * Hide the last image on hover
*/
.hover-switch:hover > img:last-of-type {
  opacity: 0;

}


#description{
  width: 600px;
  position: relative;
left: 400px;
}

@media (max-width: 1200px){
  .container{
    position: relative;
  top: -40px;
  }
#profil{
  position: relative;
  top: 180px;
}
#titreQ{
  font-size: 20px;
}

  #description{
    width: auto;
    position: relative;
    font-size: 12px;
    left: -10px;
  }
}



body {
  padding-top: 50px;
  padding-bottom: 00px;
  background-color: #f6f6f6;
}

.full {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

}

.navbar {
  z-index: 9999;
  background-color: black;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
}

.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 0;
  font-size: 24px;
  line-height: 48px;
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.btn-lnk {
  position: absolute;
  bottom: 15px;
}

.btn-lnk0 {
  left: 30px;
}

.btn-lnk1 {
  right: 30px;
}


#twoam {
  width: 100vw;
  height: 100vh;
  background-image: url("http://2am.ninja/img/bruce_contact3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

#nav-bar ul li:hover::after {
  width: 100%;
}

#nav-bar ul li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  background: #607D8B;
  width: 0;
  transition: width 0.2s;
}

.max {
  max-width: 1300px;
  margin: auto;
  padding-bottom: 15px;
}

.desc {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  line-height: 1.7em;
  letter-spacing: 0.03em;
  margin-left: 10px;
  margin-right: 10px;
}

#about {
  width: 100vw;
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
  padding-bottom: 50px;
}

#about .desc {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}

.icon-me {
  text-align: center;
  font-size: 5em;
  color: rgba(200, 100, 100, 0.7);
  padding-top: 20px;
  padding-bottom: 25px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.30);
}

.icon-contact {
  text-align: center;
  font-size: 7.5em;
  color: rgba(152, 110, 110, 0.4);
  padding-top: 10px;
  padding-bottom: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
}

.icon-contact a {
  color: rgba(152, 110, 110, 0.4) !important;
}



#contact {
  width: 100vw;
  height: 100vh;
  background-image: url(http://2am.ninja/img/stars.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 20px;
}

.tagline1 {
  font-family: 'lato', sans-serif;
  font-size: 2em;
  font-weight: 300;
  font-style: italic;
  color: #bbb;
  text-align: left;
  padding-top: 70px;
  text-shadow: 1px 1px black;
}

.tagline2 {
  font-family: 'lato', sans-serif;
  font-size: 7em;
  letter-spacing: 7px;
  line-height: 0.95em;
  font-weight: 100;
  color: white;
  text-align: left;
  text-shadow: 1px 1px black;
  padding-top: 10px;
}

.tagline3a, .tagline3b, .tagline3c {
  font-family: 'courier', sans-serif;
  font-size: 1.75em;
  font-style: italic;
  color: #666;
  text-align: left;
  line-height: 1em;
  text-shadow: 1px 1px black;
}

.tagline3a {
  padding-top: 50px;
}

.tagline3b {
  padding-left: 30px;
}

.line {
  height: 3px;
  width: 100px;
  position: relative;
  top: -12px;
  display: inline-block;
  background-color: #999;
}

.line.about {
  background-color: rgba(0, 0, 0, 0.54);
}

.line.portfolio {
  background-color: rgba(0, 0, 0, 0.54);
}

.line.contact {
  background-color: rgba(255, 255, 255, 0.95);
}

.section-title {
  font-family: 'lato', sans-serif;
  font-size: 3.5em;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title.about {
  color: rgba(0, 0, 0, 0.54);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.75);
}

.section-title.portfolio {
  color: rgba(0, 0, 0, 0.54);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.75);
}

.section-title.contact {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.99);
}

.section-banner {
  padding-top: 10px;
  padding-bottom: 50px;
}

.project-title {
  font-family: 'Lato', sans-serif;
  font-size: 1.75em;
  font-weight: 500;
  padding-top: 4px;
  padding-bottom: 1px;
  color: #666;
  text-align: center;
}

.project-headings {
  font-family: 'Open Sans', sans-serif;
}

.project-body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
}

.project {
  border-width: thin;
  border-color: #ccc;
}

.intro {
  height: 100vh;
  width: 100%;
}

.content {
  vertical-align: middle;
}



#social-footer {
  width: 100%;
  text-align: center;
  color: white;
  background-color: black;
}

#social-footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#social-footer ul li {
  display: inline;
  padding: 0.4em;
}

#social-footer a {
/*  color: #939393 !important; */
  color: white !important;
}

.blacktext {
  color: black;
}

footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1% 5%;
  text-align: center;
  background-color: #000;
  opacity: 1;
  z-index: 100;
 
}

a {
  font-weight: 500;
  text-decoration: none;
} 
a.fa {
  text-decoration: none
}

a:link {
  text-decoration: none !important;
  outline: 0;
}

.fa-stack {
  margin: -2px;
}

.copyright {
  padding-bottom: 0px;
  padding-top: 5px;
  color: #555;
}

#down {
  position: absolute;
  opacity: 0.20;
  left: 50%;
  bottom: 10%;
  cursor: pointer;
}

.card {
  position: relative;
  width: 300px;
  height: 365px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  perspective: 2000px;
  cursor: pointer;
}

.card img {
  width: calc(300px - 0px);
  height: calc(365px - 45px);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-style: solid;
  border-color: rgba(0,0,0,0.16);
  border-bottom-width: 1px;
}

.card_front, .card_back {
  position: absolute;
  left: 0px;
  top: 0px;
  width: inherit;
  height: inherit;
  border-style: solid;
  border-width: 0px;
  border-radius: 6px;
  border-color: #666;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}


.card_front:hover, .card_back:hover {
  left: -4px;
  top: -4px;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.card_front {
  background-color: white;
}

.card_back {
  background-color: #fafffc;
  -webkit-transform: rotateY(179deg);
  -ms-transform: rotateY(179deg);
  transform: rotateY(179deg);
}

.card.effect_click.flipped .card_front {

  -webkit-transform: rotateY(-179deg);
  -ms-transform: rotateY(-179deg);
  transform: rotateY(-179deg);
}

.card.effect_click.flipped .card_back {

  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.highlight {
  opacity: 0.6;
}

.highlight:hover {
  opacity: 1;
}



@media only screen and (max-width: 768px) {
  #contact {
    background-attachment: scroll;
  }

  #twoam {
    background-attachment: scroll;
  }

  .tagline1 {
    font-size: 1.2em;
  }

  .tagline2 {
    font-size: 2.8em;
  }

  .tagline3a, .tagline3b, .tagline3c {
    font-size: 1em;
  }

  .section-title {
    font-size: 2.6em;
  }

  .line {
    height: 2px;
    width: 70px;
    position: relative;
    top: -10px;
    display: inline-block;
    background-color: #666;
  }

  .icon-me {
    font-size: 7.5empx;
    padding-top: 10px;
    padding-bottom: 15px;
  }

  .icon-contact {
    font-size: 4.5em;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}




:root {
  font-size: 13px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.618;
  font-weight: 400;
}



a {
  color: #1abc89;
}

a:hover {
  opacity: .8;
}


#container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
  color: #545a64;
}



svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

circle {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

text {
  font-size: 1.1rem;
  text-transform: uppercase;
  text-anchor: middle;
  letter-spacing: 1px;
  font-weight: 600;
}

.svg-text {
  fill: #545a64;
}

.svg-masked-text {
  fill: white;
}

image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 200px;
  margin: 5px;
  cursor: pointer;
  background-color: #3b3e46;
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.02), inset 0 0px 0px 1px rgba(0, 0, 0, 0.07);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.02), inset 0 0px 0px 1px rgba(0, 0, 0, 0.07);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.item:hover circle,
.item:hover image {
  -webkit-transform: scale(1);
          transform: scale(1);
}

button {
  width: 12px;
  height: 12px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  border-radius: 1px;
}
button.dark {
  background-color: #2f3238;
}
button.light {
  background-color: #f9f9f9;
}

.options {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.options button {
  margin-left: .5rem;
}

.light {
  background-color: #f9f9f9;
  color: #1a1a1a;
}
.light p {
  color: rgba(26, 26, 26, 0.5);
}
.light .item {
  background: #f5f5f5;
}
.light .svg-text {
  fill: rgba(0, 0, 0, 0.1);
}


/*---------------------------------------------------------------------*/
/*  4. COMPONENTS
/*  4.1. BUTTON
/*---------------------------------------------------------------------*/
.btn.btn-custom {
  background-color: #ff005b;
  font-family: 'Alegreya', serif;
  font-weight: 550;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 0 #f0407d;
}

.btn.btn-custom:hover {
  background-color: #ff005b;
}

.btn.btn-custom > i {
  padding-right: 2px;
}

@media (max-width: 767px) {
  .btn.btn-lg.btn-custom {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.6;
  }
}

/*---------------------------------------------------------------------*/
/*  4.2. SEPARATOR
/*---------------------------------------------------------------------*/
span.separator {
  display: block;
  margin: 25px 10px;
  width: 80px;
  height: 2px;
  background-color: #f0407d;
}

span.separator.center {
  margin-right: auto;
  margin-left: auto;
}

/*---------------------------------------------------------------------*/
/* 5. SECTION
/*---------------------------------------------------------------------*/
.section .sec-wrapper > .sec-content {
  padding: 40px 0px 40px;
}

@media (min-width: 768px) {
  .section .sec-wrapper > .sec-content {
    padding: 40px 0px 40px;
  }
}




/*---------------------------------------------------------------------*/
/*  5.4. SECTION - RESUME
/*---------------------------------------------------------------------*/

#resume {
  position: relative;
  z-index: 5;
  padding-top:30px;
  padding-bottom: 30px;
}
#resume .sec-wrapper > .sec-content {
  padding-bottom: 10px;
}
@media (min-width: 992px) {
  #resume .sec-wrapper > .sec-content {
    padding-left: 10px;
  }
}

experience accordion style starts
.panel-group.resume {
  position: relative;
}
.panel-group.resume .resume-item {
  position: relative;
  margin-bottom: 20px;
}
@media (min-width: 568px) {
  .panel-group.resume .resume-item {
    margin-bottom: 10px;
  }
}
.panel-group.resume .resume-item:last-child {
  margin-bottom: 20px;
}
.panel-group.resume .resume-item .resume-year {
  display: block;
  position: relative;
  width: 120px;
  height: 40px;
  margin-bottom: -20px;
  margin-right: auto;
  margin-left: auto;
  line-height: 40px;
  background-color: #ff005b;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  color: #fff;
}
@media (min-width: 568px) {
  .panel-group.resume .resume-item .resume-year {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }
}
.panel-group.resume .resume-item .resume-btn {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: #ff005b;
  border-radius: 2px;
}
.panel-group.resume .resume-item .resume-btn > a {
  display: block;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.panel-group.resume .resume-item .resume-btn > a:before {
  display: block;
  position: absolute;
  z-index: 15;
  content: '-';
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 38px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
.panel-group.resume .resume-item .resume-btn > a.collapsed:before {
  content: '+';
}
.panel-group.resume .resume-item .panel {
  padding: 10px;
  width: 100%;
  background: transparent;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
}

@media (min-width: 568px) {
  .panel-group.resume .resume-item .panel {
    width: calc(100% - 120px);
    margin-left: 120px;
  }
}

@media (min-width: 768px) {
  .panel-group.resume .resume-item .panel {
    width: calc(100% - 150px);
    margin-left: 150px;
	padding-top: 10px;
  }
}

.panel-group.resume .resume-item .panel .panel-heading {
  position: relative;
}

.panel-group.resume .resume-item .panel .panel-heading .panel-title {
  text-transform: uppercase;
  margin-left: 40px;
}

@media (max-width: 567px) {
  .panel-group.resume .resume-item .panel .panel-heading .panel-title {
    padding-top: 20px;
  }
}
.panel-group.resume .resume-item .panel .panel-collapse .panel-body {
  padding-top: 10px;
  border-top: none;
}
.panel-group.resume .resume-item .panel .panel-collapse .panel-body p {
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
}
.panel-group.resume .resume-item .panel .panel-collapse .panel-body .subheading1 {
	margin-bottom: 10px;
	font-family: 'Alegreya', serif;
	font-size: 18px;
	letter-spacing:0;
}
/* experience accordion style ends */

/* timeline style starts */
.timeline {
  list-style: none;
  padding: 20px 10px 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 1.5px;
  background-color: #eee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 40px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  position: relative;
  float: left;
  width: 42%;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 0 1px 2px rgb(212, 210, 210);
  box-shadow: 0 2px 6px rgb(138, 131, 131);
  text-align: right;
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 52px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 52px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-image {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid rgba(232, 232, 231, 0.2);
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  top: 20px;
  left: 50%;
  margin-left: -50px;
  background-color: #ff005b;
  z-index: 100;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 2px rgba(232, 232, 231, 0.1);
  box-shadow: 0 1px 3px rgba(212, 251, 223, 0.1);
}

.timeline>li .timeline-image .timeline-content {
	margin-top: 22px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline>li:last-child {
	margin-bottom: 20px;
}

.timeline-title1 {
  margin-bottom: 10px;
  font-family: 'Alegreya', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing:0.5px;
  text-transform: uppercase;
}
.title2 {
	color: #ff005b; 
	font-family: 'Alegreya', serif;
	font-weight: 580;
	font-size: 22px;
	line-height: 35px;
}
.timeline .timeline-body>p, .timeline .timeline-body>ul {
	margin-bottom: 0;
	font-family: 'Alegreya', serif;
	font-size: 16px;
	letter-spacing:1px;
}
@media(max-width:768px) {
	.timeline:before {
	left: 50%;
}
.timeline>li {
	margin-bottom: 100px;
	min-height: 100px;
}
.timeline>li .timeline-panel {
	float: left;
	width: 41%;
	padding: 0 20px 20px 30px;
	text-align: right;
}
.timeline>li .timeline-image {
	left: 50%;
	width: 100px;
	height: 100px;
	margin-left: -50px;
}

.timeline-title1 {
  margin-top: 10px;
}
.timeline>li.timeline-inverted>.timeline-panel {
	float: right;
	padding: 0 30px 20px 20px;
	text-align: left;
}
}
@media(max-width: 480px) {
.timeline:before {
	left: 22%;
}
.timeline>li {
	margin-bottom: 100px;
	min-height: 100px;
}
.timeline>li .timeline-panel {
	float: right;
	width: 60%;
	padding: 0 20px 20px 30px;
	text-align: left;
}
.timeline > li > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline>li .timeline-image {
	left: 20%;
	width: 100px;
	height: 100px;
	margin-left: -50px;
}
.timeline-title1 {
  margin-top: 10px;
}
.timeline>li.timeline-inverted>.timeline-panel {
	float: right;
	padding: 0 30px 20px 20px;
	text-align: left;
}
}


/*---------------------------------------------------------------------*/
/*  5.6. CONTACT SECTION
/*---------------------------------------------------------------------*/
#contact {
  position: relative;
  width: 100%;
  height: auto;
  background: linear-gradient( rgba(0, 0, 0, 0.75	), rgba(0, 0, 0, 0.75) ),url("https://www.dropbox.com/s/j988fi54f6gxol4/contactMe.jpg?raw=1") no-repeat center top;
  background-color: transparent; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed; /* Doesnt scroll along with page */
  overflow: hidden;
}
#contact .sec-wrapper > .sec-content {
  padding: 40px 0px 20px;
}
/* social favicons style starts */
#contact .social-icon {
  padding: 40px 0 20px;
 }
#contact .social-icon > li > a {
  position: relative;
  z-index: 3;
  display: block;
  width: 65px;
  height: 65px;
  margin-right: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  border: 3px solid #ff005b;
}
#contact .social-icon > li > a > .fa {
  font-family: 'FontAwesome';
  font-size: 34px;
  line-height: 34px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -17px;
  margin-top: -17px;
  width: 34px;
  height: 34px;
  text-align: center;
}
#contact .social-icon > li:last-child > a {
  margin-right: 5px;
}
#contact .social-icon > li:hover > a {
  border: 1px solid #fff;
}
/* social favicons style ends */
/*---------------------------------------------------------------------*/
/*  6. FOOTER SECTION
/*---------------------------------------------------------------------*/
footer {
	padding-bottom: 10px;
}
.to-top > a{
	position:relative;
	display:inline-block;
	font-size: 20px;
	line-height: 15px;
	font-weight: 700;
	text-align: center;
}

.neon{
  color:#fff;
  text-shadow:0 0 10px #ff005b;
  font-size: 20px;
  
}
.neon:after{

  z-index:-1;
  color:#ff005b;

}
.neon:before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:1%;
  height:10%;
  background:#fe3a80;
  z-index:-2;
  opacity:.5;
  filter:blur(40px);
  
}


#contact{
 top: -38px;
}
#conta{
  height: 100vh;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#containe {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px #00000010;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}
.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
}

textarea {
  resize: vertical;
}
button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  font-family: "Montserrat";
  color: rgb(27, 166, 247);
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease background-color;
}
button[type="submit"]:hover {
  background-color: transparent;
}
#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}
#status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}